<div>
    <mat-card>



        <form [formGroup]="collectionForm" (ngSubmit)="submit()">
            <div class="form-row">
                <div class="col-md-5 mb-3">
                    <label for="validationServer01">Address</label>
                    <input type="text" formControlName="address1"
                        [ngClass]="[(!collectionForm.get('address1')?.valid && collectionForm.get('address1')?.touched) ? 'is-invalid':'', (collectionForm.get('address1')?.valid && collectionForm.get('address1')?.touched) ? 'is-valid':'' ]"
                        class="form-control" id="validationServer01" placeholder="Address" required>
                    <div class="valid-feedback" *ngIf="collectionForm.get('address1')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                    !collectionForm.get('address1')?.valid &&
                    collectionForm.get('address1')?.touched
                  ">
                        Please enter valid Address
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationServer01">Address 2</label>
                    <input type="text" formControlName="address2"
                        [ngClass]="[(!collectionForm.get('address2')?.valid && collectionForm.get('address2')?.touched) ? 'is-invalid':'', (collectionForm.get('address2')?.valid && collectionForm.get('address2')?.touched) ? 'is-valid':'' ]"
                        class="form-control" id="validationServer01" placeholder="Address" required>
                    <div class="valid-feedback" *ngIf="collectionForm.get('address2')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                    !collectionForm.get('address2')?.valid &&
                    collectionForm.get('address2')?.touched
                  ">
                        Please enter valid Address
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationServer01">Address 3</label>
                    <input type="text" formControlName="address3"
                        [ngClass]="[(!collectionForm.get('address3')?.valid && collectionForm.get('address3')?.touched) ? 'is-invalid':'', (collectionForm.get('address3')?.valid && collectionForm.get('address3')?.touched) ? 'is-valid':'' ]"
                        class="form-control" id="validationServer01" placeholder="Address" required>
                    <div class="valid-feedback" *ngIf="collectionForm.get('address3')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                    !collectionForm.get('address3')?.valid &&
                    collectionForm.get('address3')?.touched
                  ">
                        Please enter valid Address
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationServer01">City</label>
                    <input type="text" formControlName="city"
                        [ngClass]="[(!collectionForm.get('city')?.valid && collectionForm.get('city')?.touched) ? 'is-invalid':'', (collectionForm.get('city')?.valid && collectionForm.get('city')?.touched) ? 'is-valid':'' ]"
                        class="form-control" id="validationServer01" placeholder="Address" required>
                    <div class="valid-feedback" *ngIf="collectionForm.get('city')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                    !collectionForm.get('city')?.valid &&
                    collectionForm.get('city')?.touched
                  ">
                        Please enter valid City
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationServer01">State</label>
                    <input type="text" formControlName="state"
                        [ngClass]="[(!collectionForm.get('state')?.valid && collectionForm.get('state')?.touched) ? 'is-invalid':'', (collectionForm.get('state')?.valid && collectionForm.get('state')?.touched) ? 'is-valid':'' ]"
                        class="form-control" id="validationServer01" placeholder="State" required>
                    <div class="valid-feedback" *ngIf="collectionForm.get('state')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                    !collectionForm.get('state')?.valid &&
                    collectionForm.get('state')?.touched
                  ">
                        Please enter valid State
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationServer01">Country</label>
                    <input type="text" formControlName="country"
                        [ngClass]="[(!collectionForm.get('country')?.valid && collectionForm.get('country')?.touched) ? 'is-invalid':'', (collectionForm.get('country')?.valid && collectionForm.get('country')?.touched) ? 'is-valid':'' ]"
                        class="form-control" id="validationServer01" placeholder="Country" required>
                    <div class="valid-feedback" *ngIf="collectionForm.get('country')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                    !collectionForm.get('country')?.valid &&
                    collectionForm.get('country')?.touched
                  ">
                        Please enter valid Country
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationServer01">Type</label>
                    <input type="text" formControlName="type"
                        [ngClass]="[(!collectionForm.get('type')?.valid && collectionForm.get('type')?.touched) ? 'is-invalid':'', (collectionForm.get('type')?.valid && collectionForm.get('type')?.touched) ? 'is-valid':'' ]"
                        class="form-control" id="validationServer01" placeholder="Type" required>
                    <div class="valid-feedback" *ngIf="collectionForm.get('type')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                    !collectionForm.get('type')?.valid &&
                    collectionForm.get('type')?.touched
                  ">
                        Please enter valid Type
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationServer01">Location</label>
                    <input type="text" formControlName="location"
                        [ngClass]="[(!collectionForm.get('location')?.valid && collectionForm.get('location')?.touched) ? 'is-invalid':'', (collectionForm.get('location')?.valid && collectionForm.get('location')?.touched) ? 'is-valid':'' ]"
                        class="form-control" id="validationServer01" placeholder="Location" required>
                    <div class="valid-feedback" *ngIf="collectionForm.get('location')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                    !collectionForm.get('location')?.valid &&
                    collectionForm.get('location')?.touched
                  ">
                        Please enter valid Location
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationServer02">Mobile Phone</label>
                    <input type="text" formControlName="mobilePhone" class="form-control" id="validationServer02"
                        placeholder="Mobile Phone" required
                        [ngClass]="[(!collectionForm.get('mobilePhone')?.valid && collectionForm.get('mobilePhone')?.touched) ? 'is-invalid':'', (collectionForm.get('mobilePhone')?.valid && collectionForm.get('mobilePhone')?.touched) ? 'is-valid':'' ]">
                    <div class="valid-feedback" *ngIf="collectionForm.get('mobilePhone')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                        !collectionForm.get('mobilePhone')?.valid &&
                        collectionForm.get('mobilePhone')?.touched
                      ">
                        Please enter valid Mobile Phone
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="validationServer02">Office Phone</label>
                    <input type="text" formControlName="officePhone" class="form-control" id="validationServer02"
                        placeholder="Office Phone" required
                        [ngClass]="[(!collectionForm.get('officePhone')?.valid && collectionForm.get('officePhone')?.touched) ? 'is-invalid':'', (collectionForm.get('officePhone')?.valid && collectionForm.get('officePhone')?.touched) ? 'is-valid':'' ]">
                    <div class="valid-feedback" *ngIf="collectionForm.get('officePhone')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                        !collectionForm.get('officePhone')?.valid &&
                        collectionForm.get('officePhone')?.touched
                      ">
                        Please enter valid Office Phone
                    </div>
                </div>
                <!-- <div class="col-md-5 mb-3">
                    <label for="validationTextarea">Description</label>
                    <textarea formControlName="description" class="form-control description-input" id="validationTextarea"
                        placeholder="Description" required
                        [ngClass]="[(!collectionForm.get('description')?.valid && collectionForm.get('description')?.touched) ? 'is-invalid':'', (collectionForm.get('description')?.valid && collectionForm.get('description')?.touched) ? 'is-valid':'' ]"></textarea>
                    <div class="valid-feedback" *ngIf="collectionForm.get('description')?.valid">
                        Looks good!
                    </div>
                    <div class="invalid-feedback" *ngIf="
                        !collectionForm.get('description')?.valid &&
                        collectionForm.get('description')?.touched
                      ">
                        Please enter valid Description
                    </div>
                </div> -->
            </div>
            <button mat-flat-button color="primary" type="submit">{{btnText}}</button>
            <button mat-stroked-button color="primary" type="button" routerLink="/dashboard/highlights">Cancel</button>
        </form>

    </mat-card>
</div>