<div name="main-container">

    <div name="card-container" class="card-container">
        <div class="col-md-3 shadow-lg p-3 mb-3 bg-white rounded card">
            <!-- <mat-icon class="icon-display">class</mat-icon>  -->
            <div>
                <img src="assets/images/class.png" />
            </div>
            <p class="card-p">
                Class
            </p>
            <ng-icon name="bootstrapCaretDownFill" class="icon-display" [ngClass]="{'active' : isClasses}"
                (click)="changeTab('isClasses')"></ng-icon>
            <!-- <span class="material-icons icon-display">
                class
                </span> -->

        </div>
        <div class="col-md-3 shadow-lg p-3 mb-3 bg-white rounded card">
            <div>
                <img src="assets/images/student.png" />
            </div>
            <p class="card-p">
                Student
            </p>
            <ng-icon name="bootstrapCaretDownFill" class="icon-display" [ngClass]="{'active' : isStudents}"
                (click)="changeTab('isStudents')"></ng-icon>

        </div>
        <div class="col-md-3 shadow-lg p-3 mb-3 bg-white rounded card">

            <div>
                <img src="assets/images/content.png" />
            </div>
            <p class="card-p">
                Content
            </p>

            <ng-icon name="bootstrapCaretDownFill" class="icon-display" [ngClass]="{'active' : isContents}"
                (click)="changeTab('isContents')"></ng-icon>

        </div>
    </div>
    <router-outlet></router-outlet>
    <!-- <div name="action-container" class="action-container shadow-lg p-3 mb-3 bg-white rounded card">
        <div *ngIf="class" class="actions-div">
            <button type="button" class="btn btn-primary btn-sm">Small button</button>
        </div>
        <div *ngIf="student" class="actions-div">
            <button type="button" class="btn btn-primary btn-sm">Small button</button>
        </div>
        <div *ngIf="content" class="actions-div">
            <button type="button" class="btn btn-primary btn-sm action-btn" (click)="addContent=false">Content</button>
            <button class="btn btn-primary btn-sm action-btn" (click)="addContent=true">
                <ng-icon name="bootstrapPlusCircle"></ng-icon>
            </button>
        </div>
    </div>
    <div name="result-container" class="result-container shadow-lg p-3 mb-3 bg-white rounded card">
        <p *ngIf="class">Class results</p>
        <p *ngIf="student">Student results</p>
        <div *ngIf="content" name="content-container" style="width: 100%;">
            <div *ngIf="!addContent">
                <app-content></app-content>
            </div>
            <div *ngIf="addContent" style="width: 100%;">
                <app-content-add style="width: 100%;" [update]="false"></app-content-add>
            </div>
        </div>
    </div> -->

</div>