<div class="auth-container">
    <div class="row auth-main">
        <div class="col-sm-12 auth-form-section">
            <div class="form-section">
                <div class="auth-wrapper">
                    <h2 class="welcome-msg"> Welcome {{student.name}} </h2>
                    <!-- <p class="auth-signup-text text-muted">Need an account?<a routerLink="/authentication/signup"
                class="sign-up-link">Sign Up
              </a></p> -->
                    <h2 class="login-title">Question: {{message.name }}</h2>
                    <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Answer</mat-label>
                                    <input matInput formControlName="answer" />
                                    <mat-icon class="material-icons-two-tone color-icon p-3"
                                        matSuffix>emoji_ojects</mat-icon>
                                    <mat-hint class="font-bold col-teal m-r-5">Hint* {{message.hint}}</mat-hint>
                                    <mat-error *ngIf="authForm.get('answer')?.hasError('required')">
                                        Answer is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
                        <div class="container-auth-form-btn">
                            <div style="text-align:center">
                                <!-- <button mat-raised-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"
                    class="auth-form-btn" [disabled]="!authForm.valid " type="submit">Login</button> -->
                                <button mat-raised-button color="primary" class="auth-form-btn" [disabled]="authForm.invalid"
                                    type="submit">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>