<mat-toolbar color="primary" class="example-toolbar"> </mat-toolbar>

<div class="login-container">
  <mat-card class="login-card">
    <div class="login-container">
      <img src="assets/images/new_logo.png"/>
    </div>
    <!-- <mat-card-title>Login</mat-card-title> -->
    <mat-card-content>
      <form [formGroup]="loginFrom" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input
              type="email"
              matInput
              placeholder="Email"
              formControlName="email"
            />
            <mat-error *ngIf="!loginFrom.get('email')?.valid && loginFrom.get('email')?.touched
          ">Invalid Email</mat-error>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-error *ngIf="!loginFrom.get('password')?.valid && loginFrom.get('password')?.touched
            ">Invalid Password</mat-error>
          </mat-form-field>
        </p>
        <div class="button">
          <button class="login-btn" type="submit" color="primary" mat-stroked-button>Login</button>
          <button type="button" mat-stroked-button>Forget Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
