<div>
  <mat-card class="breadcrumb-container">
    <app-breadcrumb class="breadcrumb-content" [path]="path" [active]="active"></app-breadcrumb>
    <div name="controls" class="controls">
      <button mat-icon-button (click)="openAccountModal()" class="control-button" color="primary">
        Add Account <mat-icon>add_box</mat-icon>
      </button>
    </div>
  </mat-card>
  <mat-card>
    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>

      <div class="example-table-container" *ngIf="data | async as dataLoaded">
        <table mat-table [dataSource]="dataLoaded" class="example-table" class="mat-elevation-z8" matSort
          matSortActive="created" matSortDisableClear matSortDirection="desc" (matSortChange)="applySort($event)">
          <!-- Number Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
              Name
            </th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell mat-sort-header disableClear *matHeaderCellDef>
              Status
            </th>
            <td mat-cell *matCellDef="let row">{{ row.status }}</td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Description
            </th>
            <td mat-cell *matCellDef="let row">{{ row.description }}</td>
          </ng-container>

          <!-- Created Column -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Created
            </th>
            <td mat-cell *matCellDef="let row">{{ row.createdAt | date }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <div class="table-actions">
                <span class="click-icon">
                  <mat-icon>preview</mat-icon>
                </span>
                <span class="table-action-item"> | </span>
                <span class="click-icon" (click)="openEditDialogue(row)">
                  <mat-icon>edit</mat-icon>
                </span>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)"></mat-paginator>
      <!-- <div>
        <ul>
          <li (click)="changePage(1)">First</li>
          <li (click)="changePage(currentPage.getValue() - 1)">Prev</li>
          <li *ngFor="let item of createRange()" (click)="changePage(item)">{{ item }}</li>
          <li (click)="changePage(currentPage.getValue() + 1)">Next</li>
          <li (click)="changePage(resultsLength / pageSize)">Last</li>
        </ul>
      </div> -->
    </div>
  </mat-card>
</div>