<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Location'" [items]="['Home','Location']" [active_item]="'Location'">
            </app-breadcrumb>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <!-- <h2><strong>Blank</strong> Page</h2> -->
                    </div>
                    <div class="body">
                        <!-- Add content here -->
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>
                                            <strong>Location</strong> {{update?'Update':'Add'}}
                                        </h2>
                                    </div>
                                    <div class="body">
                                        <form class="register-form m-4"  [formGroup]="collectionForm" (ngSubmit)="submit()">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Address 1</mat-label>
                                                        <input formControlName="address1" matInput type="text"
                                                            required>
                                                        <mat-icon matSuffix>
                                                            pin_drop
                                                        </mat-icon>
                                                        <mat-error *ngIf="collectionForm.get('address1')?.hasError('required')">
                                                            Address 1 is required
                                                          </mat-error>
                                                          <mat-error *ngIf="!collectionForm.get('address1')?.valid && !collectionForm.get('address1')?.hasError('required')">
                                                            Enter a valid Address 1
                                                          </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Address 2</mat-label>
                                                        <input formControlName="address2" matInput type="text"
                                                            required>
                                                        <mat-icon matSuffix>
                                                            pin_drop
                                                        </mat-icon>
                                                        <mat-error *ngIf="collectionForm.get('address2')?.hasError('required')">
                                                            Address 2 is required
                                                          </mat-error>
                                                          <mat-error *ngIf="!collectionForm.get('address2')?.valid && !collectionForm.get('address2')?.hasError('required')">
                                                            Enter a valid Address 2
                                                          </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Address 3</mat-label>
                                                        <input formControlName="address3" matInput type="text"
                                                            required>
                                                        <mat-icon matSuffix>
                                                            pin_drop
                                                        </mat-icon>
                                                        <mat-error *ngIf="collectionForm.get('address3')?.hasError('required')">
                                                            Address 3 is required
                                                          </mat-error>
                                                          <mat-error *ngIf="!collectionForm.get('address3')?.valid && !collectionForm.get('address3')?.hasError('required')">
                                                            Enter a valid Address 3
                                                          </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>City</mat-label>
                                                        <input formControlName="city" matInput type="text"
                                                            required>
                                                        <mat-icon matSuffix>
                                                                location_city
                                                        </mat-icon>
                                                        <mat-error *ngIf="collectionForm.get('city')?.hasError('required')">
                                                            city is required
                                                          </mat-error>
                                                          <mat-error *ngIf="!collectionForm.get('city')?.valid && !collectionForm.get('city')?.hasError('required')">
                                                            Enter a valid city
                                                          </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>State</mat-label>
                                                        <input formControlName="state" matInput type="text"
                                                            required>
                                                        <mat-icon matSuffix>
                                                            location_city
                                                        </mat-icon>
                                                        <mat-error *ngIf="collectionForm.get('state')?.hasError('required')">
                                                            State is required
                                                          </mat-error>
                                                          <mat-error *ngIf="!collectionForm.get('state')?.valid && !collectionForm.get('state')?.hasError('required')">
                                                            Enter a valid State
                                                          </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Country</mat-label>
                                                        <input formControlName="country" matInput type="text"
                                                            required>
                                                        <mat-icon matSuffix>
                                                            location_city
                                                        </mat-icon>
                                                        <mat-error *ngIf="collectionForm.get('country')?.hasError('required')">
                                                            Country is required
                                                          </mat-error>
                                                          <mat-error *ngIf="!collectionForm.get('country')?.valid && !collectionForm.get('country')?.hasError('required')">
                                                            Enter a valid Country
                                                          </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Type</mat-label>
                                                        <input formControlName="type" matInput type="text"
                                                            required>
                                                        <mat-icon matSuffix>
                                                            category
                                                        </mat-icon>
                                                        <mat-error *ngIf="collectionForm.get('type')?.hasError('required')">
                                                            Type is required
                                                          </mat-error>
                                                          <mat-error *ngIf="!collectionForm.get('type')?.valid && !collectionForm.get('type')?.hasError('required')">
                                                            Enter a valid Type
                                                          </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Location</mat-label>
                                                        <input formControlName="location" matInput type="text"
                                                            required>
                                                        <mat-icon matSuffix>
                                                            location_on
                                                        </mat-icon>
                                                        <mat-error *ngIf="collectionForm.get('location')?.hasError('required')">
                                                            Location is required
                                                          </mat-error>
                                                          <mat-error *ngIf="!collectionForm.get('location')?.valid && !collectionForm.get('location')?.hasError('required')">
                                                            Enter a valid Location
                                                          </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Mobile Phone</mat-label>
                                                        <input formControlName="mobilePhone" matInput type="text"
                                                            required>
                                                        <mat-icon matSuffix>
                                                            phone
                                                        </mat-icon>
                                                        <mat-error *ngIf="collectionForm.get('mobilePhone')?.hasError('required')">
                                                            Mobile Phone is required
                                                          </mat-error>
                                                          <mat-error *ngIf="!collectionForm.get('mobilePhone')?.valid && !collectionForm.get('mobilePhone')?.hasError('required')">
                                                            Enter a valid Mobile Phone
                                                          </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                                                    <mat-form-field class="example-full-width" appearance="outline">
                                                        <mat-label>Office Phone</mat-label>
                                                        <input formControlName="officePhone" matInput type="text"
                                                            required>
                                                        <mat-icon matSuffix>
                                                            phone
                                                        </mat-icon>
                                                        <mat-error *ngIf="collectionForm.get('officePhone')?.hasError('required')">
                                                            Office Phone is required
                                                          </mat-error>
                                                          <mat-error *ngIf="!collectionForm.get('officePhone')?.valid && !collectionForm.get('officePhone')?.hasError('required')">
                                                            Enter a valid Office Phone
                                                          </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                        
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                                                    <button class="btn-space" mat-raised-button color="primary"
                                                        >{{update?'Update':'Submit'}}</button>
                                                    <button *ngIf="update" routerLink="../" type="button" mat-button>Cancel</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>