<app-actions></app-actions>
<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let message of messages" [title]="message.name">
        <ng-template ngbPanelContent>
            <div class="answer-container">
                <div name="message-container" class="col-md-11 p-2">
                    {{message.solution}}
                </div>
                <div name="actions" class="col-md-1">
                    <ng-icon [routerLink]="[message.id,{edit:true}]" class="icon-display" name="bootstrapPencilSquare">
                    </ng-icon>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>