<mat-tab-group>
    <mat-tab label="Organization">
        <div name="orgnaization-edit-tab">
            <mat-card class="organization-container-card">
                <div name="fields-container" class="fields-container">
                    <mat-card-content>
                        <form [formGroup]="organizationForm" (ngSubmit)="onSubmitOrganization()">
                            <p class="form-field-item">
                                <mat-form-field class="field" appearance="fill" floatLabel="auto">
                                    <mat-label>Name</mat-label>
                                    <input type="text" matInput placeholder="Organization Name"
                                        formControlName="name" />
                                    <mat-error *ngIf="
                            !organizationForm.get('name')?.valid &&
                            organizationForm.get('name')?.touched
                          ">Invalid Organization Name</mat-error>
                                </mat-form-field>

                            </p>
                            <p class="form-field-item">
                                <mat-form-field class="field" appearance="fill" floatLabel="auto">
                                    <mat-label>Description</mat-label>
                                    <input type="text" matInput placeholder="Description"
                                        formControlName="description" />
                                    <mat-error *ngIf="
                            !organizationForm.get('description')?.valid &&
                            organizationForm.get('description')?.touched
                          ">Invalid Description</mat-error>
                                </mat-form-field>
                            </p>
                            <div mat-dialog-actions align="end">
                                <span>
                                    <button type="button" mat-flat-button color="primary" [mat-dialog-close]="true">
                                        Close
                                    </button>
                                    <button type="submit" mat-stroked-button color="primary">
                                        Add
                                    </button>
                                </span>
                            </div>
                        </form>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>

    </mat-tab>
    <mat-tab label="User">
        <div>
            <mat-card class="organization-container-card">
                <div name="fields-container" class="fields-container">
                    <mat-card-content>
                        <form [formGroup]="UserForm" (ngSubmit)="onSubmitUserForm()">
                            <p class="form-field-item">
                                <mat-form-field class="field" appearance="fill" floatLabel="auto">
                                    <mat-label>User Name</mat-label>
                                    <input type="text" matInput placeholder="User Name" formControlName="userName" />
                                    <mat-error *ngIf="
                            !UserForm.get('userName')?.valid &&
                            UserForm.get('userName')?.touched
                          ">Invalid User Name
                                    </mat-error>
                                </mat-form-field>
                            </p>
                            <p class="form-field-item">
                                <mat-form-field class="field" appearance="fill" floatLabel="auto">
                                    <mat-label>First Name</mat-label>
                                    <input type="text" matInput placeholder="First Name" formControlName="firstName" />
                                    <mat-error *ngIf="
                            !UserForm.get('firstName')?.valid &&
                            UserForm.get('firstName')?.touched
                          ">Invalid First Name</mat-error>
                                </mat-form-field>
                            </p>
                            <p class="form-field-item">
                                <mat-form-field class="field" appearance="fill" floatLabel="auto">
                                    <mat-label>Last Name</mat-label>
                                    <input type="text" matInput placeholder="Last Name" formControlName="lastName" />
                                    <mat-error *ngIf="
                            !UserForm.get('lastName')?.valid &&
                            UserForm.get('lastName')?.touched
                          ">Invalid Last Name</mat-error>
                                </mat-form-field>
                            </p>
                            <p class="form-field-item">
                                <mat-form-field class="field" appearance="fill" floatLabel="auto">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput placeholder="Email" formControlName="email" />
                                    <mat-error *ngIf="
                            !UserForm.get('email')?.valid &&
                            UserForm.get('email')?.touched
                          ">Invalid Email</mat-error>
                                </mat-form-field>
                            </p>
                            <p class="form-field-item">
                                <mat-form-field class="field" appearance="fill" floatLabel="auto">
                                    <mat-label>Phone</mat-label>
                                    <input type="text" matInput placeholder="Phone Number"
                                        formControlName="mobilePhone" />
                                    <mat-error *ngIf="
                            !UserForm.get('mobilePhone')?.valid &&
                            UserForm.get('mobilePhone')?.touched
                          ">Invalid Phone Number</mat-error>
                                </mat-form-field>
                            </p>
                            <div mat-dialog-actions align="end">
                                <span>
                                    <button type="button" mat-flat-button color="primary" [mat-dialog-close]="true">
                                        Close
                                    </button>
                                    <button type="submit" mat-stroked-button color="primary">
                                        Add
                                    </button>
                                </span>
                            </div>
                        </form>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>

    </mat-tab>
</mat-tab-group>