<div class="auth-container">
  <div class="row auth-main">
       <!-- <div class="col-sm-0 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-06.jpg);">
      </div>
    </div> -->
    <div class="col-sm-12 auth-form-section">
      <div class="form-section">
        <div style="width: 100%; display: flex;">
          <img src="assets/images/mimr7logo.png" alt="Mimr Logo" width="100" height="120" style="position: absolute; top: -30px;">
        </div>
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Reset Password </h2>
          <p class="auth-signup-text text-muted">Let Us Help You</p>
          <form *ngIf="!reset" class="validate-form" [formGroup]="loginFrom" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                  Enter your Password
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" required>
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>password</mat-icon>
                  <mat-error
                    *ngIf="loginFrom.get('password')?.hasError('required') || loginFrom.get('password')?.touched">
                    Please enter a valid password
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput formControlName="confirmPassword" required>
                  <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>password</mat-icon>
                  <mat-error
                    *ngIf="loginFrom.get('confirmPassword')?.hasError('required') || loginFrom.get('confirmPassword')?.touched">
                    Please enter a valid Confirm password
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!loginFrom.valid "
                type="submit">
                Reset
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin" class="txt1">
                  Login?
                </a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>