<div>
    <app-content-action></app-content-action>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ngxTableHeader">
                            <ul class="header-buttons-left ms-0 mb-0">
                                <li class="dropdown">
                                    <h2>Contents</h2>
                                </li>
                                <li class="dropdown m-l-20">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input placeholder="Search" type="text" [(ngModel)]="title"
                                        class="browser-default search-field" (keyup.enter)='getAllContents()'
                                        aria-label="Search box">

                                </li>
                            </ul>
                            <ul class="header-buttons">
                                <li>
                                    <button mat-mini-fab color="primary" routerLink="add">
                                        <mat-icon class="col-white" >add</mat-icon>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [columnMode]="'force'"
                            [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
                            [externalSorting]="true" [count]="page.count" [offset]="page.offset" [limit]="page.limit"
                            (page)="pageCallback($event)" (sort)="sortCallback($event)">
                            
                            <ngx-datatable-column name="Title" [width]="130"></ngx-datatable-column>
                            <ngx-datatable-column name="HighLights" [width]="130">
                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                    ngx-datatable-cell-template>
                                    <span>
                                        <a routerLink="{{row.id}}/highlights"> {{ row.Highlights.length }} </a>
                                    </span>
                                </ng-template> </ngx-datatable-column>
                                <ngx-datatable-column name="Sugested Highlights" [width]="130">
                                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                        ngx-datatable-cell-template>
                                        <span>
                                            <a routerLink="{{row.id}}/suggested-highlights"> {{ row.GptHighlights.length }} </a>
                                        </span>
                                    </ng-template> </ngx-datatable-column>
                            <ngx-datatable-column name="CreatedAt" [width]="120">
                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                    ngx-datatable-cell-template>
                                    <span>
                                        {{ row.createdAt | date }}
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Actions" [sortable]="false" [width]="120">
                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                    ngx-datatable-cell-template>
                                    <span>

                                        <button class="btn tblActnBtn h-auto" [routerLink]="[row.id,{edit:true}]">
                                            <i class="material-icons">mode_edit</i>
                                        </button>
                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>