<app-student-action></app-student-action>

<mat-card class="drag-drop-contianer">

    <div class="drag-drop">

        <div class="example-container col-sm-6">
            <h2>Added Students</h2>

            <div id="added" cdkDropList #todoList="cdkDropList" [cdkDropListData]="addedStudents"
                [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of addedStudents" cdkDrag>{{item.name}}</div>
            </div>
        </div>

        <div class="example-container col-sm-6">
            <h2>Available Students</h2>

            <div id="avaialable" cdkDropList #doneList="cdkDropList" [cdkDropListData]="availableStudents"
                [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of availableStudents" cdkDrag>{{item.name}}</div>
            </div>
        </div>
    </div>


    <div class="center col-sm-12">
        <button type="button" (click)="submit()" class="btn btn-primary btn-sm col-md-1 ml-2">Submit</button>
        <button type="button" routerLink="../" class="btn col-md-1 btn-sm ml-2">cancel</button>
    </div>

</mat-card>




<!-- Copyright 2023 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->